form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-field {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-top: 20px;
}
